body {
  position: relative;
  min-height: 100vh;
}




.content-wrap{
  padding-bottom: 140px;
  padding-top: 66px;
}

.page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.testbla {
  padding: 37px 37px 37px 37px;
}

.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-height: 104px;
  word-break: break-all
}

.cqtbn {
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
  background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
  bottom: 58px;
  height: 25px;
  max-height: 100%;
  pointer-events: none;
  position: absolute;
  right: 22px;
  width: 60px;
}

.nameSquish {
  max-height: 24px;
  overflow: hidden;
  position: relative;
  word-break: break-all;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 650px;
  height: 400px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;

}





.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;

}

.register-button {
  background-color: #1686d9;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;

 }

.register-button:hover{
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}

.signup{
  margin: auto;
  width: 50%;
  border-radius: 4px;
  border-color: #0d47a1;
  padding: 75px;

}

#inputApp{
  width: 20%;
}


