body {
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 80%;
}

.content-wrap {
    padding-bottom: 140px;
    padding-top: 66px;
}

.h1title {
    padding-top: 48px;
    padding-bottom: 40px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
}

.testbla {
  padding: 37px 37px 37px 37px;
}

.dropdownItem {
    padding: 5px;
}

.hoverItem:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-height: 104px;
    word-break: break-all
}

.cqtbn {
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
  background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
  bottom: 58px;
  height: 25px;
  max-height: 100%;
  pointer-events: none;
  position: absolute;
  right: 22px;
  width: 60px;
}

.nameSquish {
  max-height: 24px;
  overflow: hidden;
  position: relative;
  word-break: break-all;
}